:root {
  --text-night-mode: #f5f7fa;
  --bg-night-mode: #000;
  --text-day-mode: #333333;
  --bg-day-mode: #ffffff; 
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Arial", sans-serif;
}

.darkTheme,
.lightTheme {
  width: 100%;
  min-height: 100vh;
  display: flex;               /* activează layout flex */
  flex-direction: column;      /* elementele (header, main, footer) pe coloană */
  box-sizing: border-box;
  padding: 0 0.5rem;
  overflow-x: hidden;
}

.darkTheme {
  background-color: var(--bg-night-mode);
  color: var(--text-night-mode);
}

.lightTheme {
  background-color: var(--bg-day-mode);
  color: var(--text-day-mode);
}



@media (max-width: 767px) {
  body {
    background-attachment: scroll;
    overflow-x: hidden;
  }
}
