/* * {
  box-sizing: border-box;
} */

:root {
  --text-night-mode: #f5f7fa;
  --bg-night-mode: #000;
  --text-day-mode: #333333;
  --bg-day-mode: #ffffff; 
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Arial", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

h1{
  font-weight: 600;
}

.darkTheme {
  background-color: var(--bg-night-mode);
  color: var(--text-night-mode);
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 0 0.5rem;
  overflow-x: hidden;
}

.lightTheme {
  background-color: var(--bg-day-mode); /* Alb fix */
  color: var(--text-day-mode);
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 0 0.5rem;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    background-attachment: scroll;
    overflow-x: hidden;
  }
}
