:root {
  --text-night-mode: #E0E6EA;
  --bg-night-mode:#000;
  --text-day-mode: #445561;
  --bg-day-mode: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Arial", sans-serif;
}



.darkTheme {
  background-color:var(--bg-night-mode);
  color: var(--text-night-mode);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #fff;
  box-sizing: border-box;
  background-attachment: fixed;
}
.lightTheme {
  background-color: var(--bg-day-mode);
  color: var(--text-day-mode);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #fff;
  box-sizing: border-box;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  body {
    background-attachment: scroll;
  }
}