.form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  gap: 1.8rem;
  padding: 2rem 2.5rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.formNight {
  box-shadow: 0 0 10px 5px #fff;
}

.submitButton {
  padding: 0.5rem;
  margin: 0.3rem;
  background-color: #3747d6;
  border-radius: 0.5rem;
  text-align: center;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-night-mode);
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-sizing:border-box;
}

.submitButton:hover{
  background-color: #fff;
  color: #3747d6; 
  transform: scale(1.1);
}