.form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  gap: 1.8rem;
  padding: 2rem 2.5rem;
  justify-content: center;
  box-sizing: border-box;
  width: 40%;
  border: 3px dashed #ccc;
}

.formNight {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
}

.submitButton {
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
  background-color: #3747d6;
  color: #fff;
  box-shadow: 0 10px 20px rgba(55, 71, 214, 0.3);
  text-align: center;
}

.submitButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(55, 71, 214, 0.3);

  border-color: #3747d6;
}

.name,
.email,
.text {
  display: flex;
  flex-direction: column; /* ✅ corect */
  gap: 0.5rem;
  width: 100%;
}
.radius {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px dashed #ccc;
  width: 100%;
  box-sizing: border-box;
}

.submissionMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #3747d6;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: var(--text-night-mode);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {
  .form {
    width: 100%;
  }
}
