.mainContainer {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: #ffffff33;
  border-radius: 0 1rem 1rem 0;
  font-size: 1.2rem;
  margin: 3rem 3rem 3rem 0;
}

.placeholder {
  height: 2rem;
}

.aboutApp {
  max-width: 100%;
}

/* .galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
} */

/* .imgFit {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
/* .imagine {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
} */

/* .image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 1rem;
}

.galleryWrapper {
  width: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 4rem;
  width: 3rem;
}

.image-gallery-index {
  display: none;
} */

/* x {
  width: auto;
  height: 1.5rem;
  border: 1px solid #374957;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.btnImg {
  width: 0.5rem;
  height: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 2rem 2rem 2rem 0;
  }

  .placeholder {
    height: 4rem;
  }
  /* .image-gallery-thumbnail .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    line-height: 0;
    display: none !important;
  } */

  .aboutApp {
    padding: 0;
  }

  /* x {
    transform: none;
  } */
}
