.mainContainer {
  max-width: 1200px;
  margin: 4rem 0; 
  padding: 2rem 1.5rem; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: #ffffff33;
  border-radius: 0.5rem ;
  font-size: 1.2rem;
}

.placeholder {
  height: 2rem;
}

.mainContainerNight {
  background: rgba(0, 0, 0, 0.2);
}

.aboutApp {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin: 2rem 0; 
    padding: 1rem 1rem; 
 
  }

  .placeholder {
    height: 4rem;
  }

  .aboutApp {
    padding: 0;
  }

  .imagine {
    width: 100%;
    height: auto;
  }
}
