
.fabContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fabMenu {
  position: relative;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.fabMenu.show {
  max-height: 300px;
  align-items: center;
  justify-content: center;
}

.fabItem {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fabItem.show {
  opacity: 1;
  transform: translateY(0);
}

/* 🔹 Stilizare pentru iconurile din Iconify */
.fabMenu .iconify {
  font-size: 1.8rem;
  color: #3747d6;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.fabMenu .iconify:hover {
  color: #ffb347;
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .fabMenu {
    position: fixed;
    top: 4rem;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease;
    opacity: 0;
  }

  .fabMenu.show {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease;
  }
}

@media (max-width: 768px) {
  .fabMenu {
    position: relative;
    padding: 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .fabMenu.show {
    max-height: 300px;
    top: 1rem;
    display: flex;
  }
}
