.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  height: 3rem;
}
.mainContainer {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin: 0 2rem 8rem 2rem;
}


.servicesTitle {
 margin-bottom: 6rem;
 text-align: center;
 font-size: 2rem;
}


@media (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .placeholder {
    height: 0;
  }

  .servicesTitle {
    margin-bottom: 2rem;
  }
  .services {
    margin: 2rem 0 6rem 0;
  }
}
