.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  height: 4rem;
}
.mainContainer {
  max-width: 1200px;
  /* padding: 4rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin: 0 3rem 3rem 3rem;
}


.servicesTitle {
 margin-bottom: 6rem;
 text-align: center;
}


@media (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin-bottom: 3rem;
    /* padding: 4rem 6rem 7rem 4rem; */
  }

  .placeholder {
    height: 4rem;
  }
  .servicesTitle {
    margin-bottom: 4rem;
  }
  .services {
    margin: 3rem 0;
  }
}
