.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  height: 3rem;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin: 4rem 0;
  padding: 2rem 1.5rem;
}

.servicesTitle {
  margin-bottom: 1.5rem; 
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin: 1rem 0; 
    padding: 1rem 1rem; 
  }

  .placeholder {
    height: 0;
  }

  .servicesTitle {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .services {
    margin: 2rem 0 6rem 0;
  }
}
