.mainContainer {
  max-width: 1200px;
  margin: 4rem 0; 
  padding: 2rem 1.5rem; 
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: #ffffff33;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.placeholder {
  height: 2rem;
}

.imagine {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin: 2rem 0; 
    padding: 1rem 1rem; 
 
  }

  .placeholder {
    height: 4rem;
  }
}
