.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  padding-right: 0.7rem;
}

.links {
  background: none;
  border: none;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  transition: transform 0.3s ease;
  /* color: #627580; */
  color: var(--text-day-mode);
  margin-top: 0;
}

.linksNight {
  color: var(--text-night-mode);
}

.links:hover,
.linksNight:hover {
  text-decoration: underline;
  color: #3747d6;
  transform: translateY(-3px);
  /* transform: scale(1.1); */
}

.languageDropdown {
  border: 0.5px solid #374957;
  outline: none;
  padding: 0.2rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  color: #374957;
}

.option {
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .hamburger img {
    display: block;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }

  .hamburgerIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aliniază liniile spre dreapta */
    gap: 6px;
    padding: 1.5rem;
  }

  .barLong,
  .barShort {
    background-color: #3747d6;
    height: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  /* Dimensiuni */
  .barLong {
    width: 28px;
  }

  .barShort {
    width: 18px;
    margin-left: auto; /* aliniere dreapta, implicit prin flex-end */
  }

  /* Animație pentru deschidere */
  .barLongOpen {
    transform: rotate(45deg) translateY(8px);
    width: 28px;
  }

  .barShortOpen {
    transform: rotate(-45deg) translateY(-8px);
    width: 28px;
  }

  .mobileLogo {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  .hamburger {
    cursor: pointer;
  }
  .list {
    position: relative;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(32px);
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    padding: 2rem;
    margin: 0;
    border-radius: 0 0 0.5rem 0;
    height: auto; /* Allow the nav to grow with content */
    max-height: 100vh; /* Prevent the list from exceeding the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }

  .show {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
  }

  .links {
    /* width: 8rem; */
    padding: 1rem;
    display: inline;
    /* border-bottom-left-radius: 1rem; */
    /* border-bottom: 2px solid #3747d6; */
     border-left: 2px solid #3747d6;
  }

  .links:hover {
    border-left: none;
    border-radius: 0;
    text-decoration: none;
    /* border-bottom-left-radius: 1rem; */
    border-bottom: 2px solid #3747d6;
  }
}
