.mainContainer {
  margin: 4rem 0;
  padding: 2rem 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: 2.3rem;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: auto;
  /* min-height: 100vh; */
}

.aboutBackground {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  box-sizing: border-box;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 2px solid #3747d6;
  border-radius: 0.5rem;
  padding: 1rem;
}

.spokenLan {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.foreignList {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boldLang {
  font-weight: 600;
}

.lanTitle {
  text-align: center;
}

.skills,
.hey,
.paragraf {
  width: auto;
  padding: 0.5rem;
  margin: 0.4rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.certificationsContainer {
  margin-top: 3rem;
  padding: 1rem;
  background: #ffffff33;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #3747d6;
}

.ulist {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listItem {
  width: 100%;
}

/* Skill-specific class for GoToGithub */
.skillLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skillLink img {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 800px) {
  .aboutBackground {
    width: 100%;
    margin-top: 1rem;
  }

  .paragraf {
    width: 100%;
    text-align: justify;
  }

  .skills {
    text-align: center;
  }

  .mainContainer {
    flex-direction: column-reverse;
    gap: 0.5rem;
    align-items: center;
    margin: 2rem 0; 
    padding: 1rem 1rem; 
  }

  .main2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside {
    margin-top: 3rem;
  }

  .certificationsContainer {
    margin-top: 3rem;
    width: 100%;
    padding: 0.3rem;
  }

  .spokenLan {
    gap: 3rem;
  }
}
