/* .galleryContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: row;
} */

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 0.5rem;
}

.galleryWrapper {
  width: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 4rem;
  width: 3rem;
}
/* 
.imgFit {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.imagine {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}


@media only screen and (max-width: 767px) {
  /* html .image-gallery-thumbnail .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    line-height: 0;
    display: none !important;
  }

  .image-gallery-thumbnail .image-gallery-thumbnail-inner {
    position: relative;
    display: none;
  } */
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:center;

}

.thumbnail {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius:0.5rem;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.imgFit {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}
.fullscreenWrapper {
  width: 100%;
  height: 100%;
}