.mainContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 4rem;
  margin: 4rem 0; 
  padding: 2rem 1.5rem; 
}

hr {
  display: none;
}

.proBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.ulLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.weatherDiv,
.tinyTipsDiv {
  max-width: 25rem;
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 2rem 0; 
    padding: 1rem 1rem; 
  }

  .placeholder {
    height: 4rem;
  }

  hr {
    display: block;
    border-top: 2px solid #3747d6;
    width: 8rem;
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  .mainContainer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    padding: 2.5rem;
  }

  hr {
    display: block;
    border-top: 2px solid #3747d6;
    width: 15rem;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInLeft {
  opacity: 0;
  animation: slideInLeft 1s ease-in-out forwards;
}

.slideInRight {
  opacity: 0;
  animation: slideInRight 1s ease-in-out forwards;
}

.proBtn {
  opacity: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
