.toggleBtn {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  padding: 0.2rem;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.toggleBtn:hover{
  transform: scale(1.2);
  color: #ffb347;
}

@media only screen and (max-width: 800px) {
  .toggleBtn {
    width: 1.5rem;
    height: 1.5rem;
  }
}
