.musicIcon {
  font-size: 1.6rem;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.musicIcon:hover {
  transform: scale(1.2);
  color: #ffb347 !important;
}
