.footer {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  margin-top: auto;
  font-size: 1rem;
  font-style: normal;
  display: flex;
  color: #374957;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.placeholder {
  width: 4rem;
}

.socialMedia {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}
