.footer {
  display: flex;
  justify-content: space-between; /* Ensure the items are spaced out */
  align-items: center; /* Vertically center the items */
  padding: 0.5rem;
  color: #627580;
  font-size: 0.8rem;
  margin-top: auto;
}

.left {
  flex-grow: 1;
  text-align: left;
}

.textFoot {
  margin: 0.3rem 0;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.socialMedia {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.socialIcon {
  font-size: 1.8rem;
  color: #ffb347;
  transition: color 0.3s ease, transform 0.2s ease;
}

.iconLink:hover .socialIcon {
  color: #3747d6;
  transform: scale(1.2);
}

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
