.blueContainer {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 1.5rem;
  background-color: #45badd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 0.3rem;
  justify-content: space-between;
  overflow: hidden;
}

.pinkBtn {
  width: 100%;
  height: 60%;
  background-color: #ff3483;
  color: var(--text-night-mode);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: 2px 2px 12px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  font-weight: bold;
  cursor: pointer;
}

.jokePara {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  min-width: 5rem;
  text-align: center;
  max-height: 6rem;
  overflow-y: auto;
  color: #000;
}

.btnContainer {
  display: flex;
  gap: 2rem;
}

.robotImg {
  height: 9rem;
  object-fit: cover;
}
