.card {
  width: 20rem;
  height: 13rem;
  flex: 1 0 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
  position: relative;
  /* perspective: 1000px;  */
  box-sizing: border-box;
}

.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.15);
  /* box-sizing: border-box; */
}

.front {
  background-color: #fff;
  flex-direction: column;
  color: #374957;
  font-weight: 600;
  transition: transform 0.3s ease;
  text-align: center;
}

.back {
  background-color: #3747d6;
  color: #fff;
  transform: rotateY(180deg);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.flip {
  width: 2rem;
  height: 2rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
}

.front:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: #3747d6;
}

.card:hover .flip {
  transform: rotateY(180deg);
}

@media (max-width: 767px) {
  .front,
  .back {
    width: 70%;
    padding: 2rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1368px) {
  .front,
  .back {
    box-sizing: border-box;
  }
}


