.mainContainer, h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 3px solid #3747d6;
  background-color: rgba(255, 255, 255, 0.5) ;
  margin: 0 0 1rem 0;
}

.input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  margin-left: 0.5rem;
}
input:focus {
  outline: none;
  background: #fff; 
}

.paragraf{
  font-size: 1.5rem;
}

