.mainContainer, h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 2px solid #3747d6;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); 
  background-color: rgba(255, 255, 255, 0.1) ;
  margin: 0 0 1rem 0;
}

.input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  margin-left: 0.5rem;
}
input:focus {
  outline: none;
  background: #fff; 
}

.paragraf{
  font-size: 1.5rem;
}

