@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate .imageAnimate {
  animation: slideInLeft 1.5s ease-in-out forwards;
}

.animate .textAnimate {
  animation: slideInRight 1.5s ease-in-out forwards;
}

.mainContainer {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  padding:1.2rem;
}

.placeholder {
  height: 3rem;
}

.titlu {
  text-align: center;
  font-size: 2rem;
}

.imagine {
  height: 22rem;
  object-fit: cover;
  border-bottom: 2px solid #445561;
}

.imagineNight {
  border-bottom: 2px solid white;
}

.introMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin: 0 0 3rem 0;
    align.items: center;
  }

  .placeholder {
    height: 1rem;
  }

  .imagine{
    height: 19rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1368px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
  }

  .imagine {
    margin-bottom: 1rem;
  }
}
