@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate .imageAnimate {
  animation: slideInLeft 1.5s ease-in-out forwards;
}

.animate .textAnimate {
  animation: slideInRight 1.5s ease-in-out forwards;
}

.mainContainer {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.placeholder {
  height: 3rem;
}

.titlu {
  text-align: center;
  font-size: 2rem;
}

.imagine {
  height: 22rem;
  object-fit: cover;
  border-bottom: 2px solid #445561;
  border-radius: 1rem;
}

.imagineNight {
  border-bottom: 2px solid white;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.introMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.readMoreLink {
  text-decoration: none;
  padding: 1rem;
  background-color: #3747d6;
  color: var(--text-night-mode);
  border-radius: 1rem;
  transition: transform 0.3s;
}

.readMoreLink:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 0 3rem 0;
  }

  .readMoreLink {
    margin-bottom: 3rem;
  }
  .placeholder {
    height: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1368px) {
  .mainContainer {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .imagine {
    margin-bottom: 1rem;
  }


}
