@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate .imageAnimate {
  animation: slideInLeft 1.5s ease-in-out forwards;
}

.animate .textAnimate {
  animation: slideInRight 1.5s ease-in-out forwards;
}

.mainContainer {
  margin: 4rem 0;
  padding: 2rem 1.5rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.mainMaxWidth {
  max-width: 1200px;
  margin: 0 auto;
}

.flexHome {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.titlu {
  text-align: center;
  z-index: 1001;
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin-bottom:1rem;
}

.subtitlu {
  font-weight: 400;
  text-align: center;
  margin: 0 0 3rem 0;
  font-family: "Arial", sans serif;
  word-spacing: 0.2rem;
}

.imagine {
  height: 22rem;
  object-fit: cover;
  border-bottom: 2px solid #445561;
}

.imagineNight {
  border-bottom: 2px solid white;
}

.introMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeBTN {
  padding: 1rem; 
}


.secondaryButton {
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
  border: 2px solid #3747d6; /* albastru */
  color: #3747d6;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.secondaryButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(55, 71, 214, 0.3);
  background-color: #3747d6;
  color: #fff;
}


.btnCont{
  display:flex;
  gap:4rem;
}
@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    align.items: center;
    margin: 2rem 0;
  }

  .imagine {
    height: 19rem;
  }
  .titlu {
    font-size: 2rem;
  }
  .subtitlu {
    font-size: 1.3rem;
  }
  .btnCont{
  display:flex;
  flex-direction:column;
  gap:2rem;
}
}

@media only screen and (min-width: 768px) and (max-width: 1368px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .imagine {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    align-items: center;
  }
}
