.backToTopContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10000;
  }
  
  .backToTopButton {
    padding: 0.5rem;
    width: 3rem; /* Set a fixed width */
    height: 3rem; /* Ensure height and width are equal */
    border-radius: 50%; /* Make it perfectly round */
    background-color: #2d3748;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    transition: background-color 0.3s ease;
    outline: none;
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
  }
  
  .backToTopButton:hover {
    background-color: #4a5568;
  }
  
  .backToTopButton:focus {
    ring: 2px solid #2d3748;
    ring-opacity: 50%;
  }
  
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  