.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin: 4rem 0 0 0;
  padding: 2rem 1.5rem;
}

.contactBackground {
  border-radius: 4rem 0 4rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.contactBackgroundNight {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.9);
  border-radius: 4rem 0 4rem 0;
}

.imagine {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  border-radius: 4rem 0 4rem 0;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 1rem;
  padding-bottom: 6rem;
}

.socialMediaImg {
  width: 2rem;
  transition: transform 0.3s ease;
}

.socialMediaImg:hover {
  transform: scale(1.3);
}

.contactLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.contactMe {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 4rem;
  font-size: 2rem;
}

.msgHireMe,
.mobile {
  cursor: pointer;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
  background-color: #3747d6;
  color: #fff;
  box-shadow: 0 10px 20px rgba(55, 71, 214, 0.3);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.msgHireMe:hover,
.mobile:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(55, 71, 214, 0.3);
  border-color: #3747d6;
}

.icon {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .display {
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
    gap: 3rem;
  }

  .contactBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactLinks {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .imagine {
    height: auto;
    max-width: 100%;
  }

  .contactMe {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .contactContainer {
    flex-direction: column;
    gap: 2rem;
  }
}
